pytest==7.4.0
Faker==19.2.0
PyYAML==6.0.1
requests==2.28.2
selenium==4.11.2
PyHamcrest==2.0.4
pluggy==1.0.0
loguru==0.7.0
allure-pytest==2.13.2
allure-python-commons==2.13.2
pip==23.2.1
PyMySQL==1.1.0
openpyxl==3.1.2
psycopg2==2.9.7
